<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/libs/swiper/dist/css/swiper.min.css"> 
        <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/libs/@fortawesome/fontawesome-free/css/all.min.css"> 
    <!-- Quick CSS -->
    <link rel="stylesheet" href={{ "/assets/css/quick-website.css" | url }} id="stylesheet"> 

    <!-- Site CSS -->
    {# <link rel="stylesheet" href="{{ " /assets/styles/main.css" | url }}"> #}

    <title>{{ seoTitle }}</title>
  </head>
  <body>
    {% include "components/header.njk" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    {% include "components/footer.njk" %}

    <!-- Core JS  -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Page JS -->
    <script src="/assets/libs/swiper/dist/js/swiper.min.js"></script>    
    <!-- Quick JS -->
    <script src="/assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>    
  </body>
</html>